The value of variable `$http_host` will not fallback to the value of `:authority` pseudo-header when the client not providing the request header `Host`

```nginx
server {
	server_name n0099.net;
	listen 443 http3 reuseport;
	add_header Alt-Svc 'h3=":$server_port"; ma=86400';
	add_header X-HTTP-Host "value=$http_host";
	add_header X-Host "value=$host";
}
```
```bash
$ curl --http1.1 -sIw '%{stderr}using %{http_version}\n' https://n0099.net | grep -i host
using 1.1
X-HTTP-Host: value=n0099.net
X-Host: value=n0099.net
$ curl --http2 -sIw '%{stderr}using %{http_version}\n' https://n0099.net | grep -i host
x-http-host: value=n0099.net
x-host: value=n0099.net
using 2
```
Seems Chrome 109 will not send `Host` header for `protocol=h2` and `h3`:
![image](https://user-images.githubusercontent.com/13030387/224406281-b4b9e91d-d199-4e39-8a08-4cf3573386db.png)
So `nginx-quic` just remain `$http_host` as empty string when serving http/3 requests, but in http/2 its value will be read from `:authority` pseudo-header.

This will break many php sites like WordPress that assuming the value of `$_SERVER['HTTP_HOST']`(which is passed by `fastcgi_param`) is always exists and valid.
There's multiple workaround available:
https://serverfault.com/questions/1121579/http3-removes-domain-from-all-links
https://pat.im/1307
https://www.enteroa.com/2022/05/12/oracle-linux-8-x86_64-%ec%84%9c%eb%b2%84%ec%97%90%ec%84%9c-dnfyum%ec%9d%84-%ec%9d%b4%ec%9a%a9%ed%95%9c-nginx-%ec%84%a4%ec%b9%98-%eb%b0%8f-http3-%ea%b5%ac%ed%98%84/

For me I'm using
```nginx
fastcgi_param HTTP_HOST $host;
```
to allow php server get the valid host from `:authority` pseudo-header, and replace all usages of `$http_host` with `$host` in nginx config files: https://github.com/vstoykovbg/nginx.conf-examples/pull/2

More background references:
> https://stackoverflow.com/questions/15414810/whats-the-difference-of-host-and-http-host-in-nginx
> https://serverfault.com/questions/706438/what-is-the-difference-between-nginx-variables-host-http-host-and-server-na
> 
> > Host name from the request line
> > When open URL http://example.org/test/ ...
> > Most browser send the request like this
> ```http
> GET /test/ HTTP/1.1
> Host: example.org
> ```
> > Most browser doesn't send the request like this (but this is valid request)
> ```http
> GET http://example.org/test/ HTTP/1.1
> ```
> 
> and in HTTP/1.1, the existing of `Host` header in the request is mandatory:
> https://www.rfc-editor.org/rfc/rfc7230#section-5.4
> > RFC 7230           HTTP/1.1 Message Syntax and Routing         June 2014
> > 
> > 5.4.  Host
> > 
> >    The "Host" header field in a request provides the host and port
> >    information from the target URI, enabling the origin server to
> >    distinguish among resources while servicing requests for multiple
> >    host names on a single IP address.
> > 
> >      Host = uri-host [ ":" port ] ; Section 2.7.1
> > 
> >    A client MUST send a Host header field in all HTTP/1.1 request
> >    messages.  If the target URI includes an authority component, then a
> >    client MUST send a field-value for Host that is identical to that
> >    authority component, excluding any userinfo subcomponent and its "@"
> >    delimiter (Section 2.7.1).  If the authority mandatory  component is missing or
> >    undefined for the target URI, then a client MUST send a Host header
> >    field with an empty field-value.
> 
> but in the more recent HTTP/2 and HTTP/3 it allows the client to omit `Host` header in some conditions:
> 
> https://www.rfc-editor.org/rfc/rfc9113#section-8.3.1-2.3.1
> > The ":authority" pseudo-header field conveys the authority portion (Section 3.2 of [RFC3986]) of the target URI (Section 7.1 of [HTTP]). The recipient of an HTTP/2 request MUST NOT use the Host header field to determine the target URI if ":authority" is present.
> > 
> > Clients that generate HTTP/2 requests directly MUST use the ":authority" pseudo-header field to convey authority information, unless there is no authority information to convey (in which case it MUST NOT generate ":authority").
> > 
> > Clients MUST NOT generate a request with a Host header field that differs from the ":authority" pseudo-header field. A server SHOULD treat a request as malformed if it contains a Host header field that identifies an entity that differs from the entity in the ":authority" pseudo-header field. The values of fields need to be normalized to compare them (see Section 6.2 of [RFC3986]). An origin server can apply any normalization method, whereas other servers MUST perform scheme-based normalization (see Section 6.2.3 of [RFC3986]) of the two fields.
> > 
> > An intermediary that forwards a request over HTTP/2 MUST construct an ":authority" pseudo-header field using the authority information from the control data of the original request, unless the original request's target URI does not contain authority information (in which case it MUST NOT generate ":authority"). Note that the Host header field is not the sole source of this information; see Section 7.2 of [HTTP].
> > 
> > An intermediary that needs to generate a Host header field (which might be necessary to construct an HTTP/1.1 request) MUST use the value from the ":authority" pseudo-header field as the value of the Host field, unless the intermediary also changes the request target. This replaces any existing Host field to avoid potential vulnerabilities in HTTP routing.
> > 
> > An intermediary that forwards a request over HTTP/2 MAY retain any Host header field.
> > 
> > Note that request targets for CONNECT or asterisk-form OPTIONS requests never include authority information; see Sections 7.1 and 7.2 of [HTTP].
> > 
> > ":authority" MUST NOT include the deprecated userinfo subcomponent for "http" or "https" schemed URIs.
> 
> https://www.rfc-editor.org/rfc/rfc9114#section-4.3.1-2.12.1
> > ":authority":
> > Contains the authority portion of the target URI (Section 3.2 of [URI]). The authority MUST NOT include the deprecated userinfo subcomponent for URIs of scheme "http" or "https".
> > 
> > To ensure that the HTTP/1.1 request line can be reproduced accurately, this pseudo-header field MUST be omitted when translating from an HTTP/1.1 request that has a request target in a method-specific form; see Section 7.1 of [HTTP]. Clients that generate HTTP/3 requests directly SHOULD use the :authority pseudo-header field instead of the Host header field. An intermediary that converts an HTTP/3 request to HTTP/1.1 MUST create a Host field if one is not present in a request by copying the value of the :authority pseudo-header field.

Apologies for any confusion, but I must inform you that this is an unofficial mirror and I am not in a position to provide a answer to your question.

I recommend that you reach out to the official forum or email list for the necessary assistance.

Thank you for your understanding.

Are you an employee of [F5 Networks](https://en.wikipedia.org/wiki/F5,_Inc.)? I just found this repo in a [blog from official `nginx.com`](https://www.nginx.com/blog/binary-packages-for-preview-nginx-quic-http3-implementation/):
> The binaries are the latest deliverable from the quic branch of the separate [nginx-quic](https://github.com/nginx-quic/nginx-quic) repo

Anyway I've sent an email to `nginx@nginx.com` and also opened a [ticket on trac](https://trac.nginx.org/nginx/ticket/2468).

> Are you an employee of [F5 Networks](https://en.wikipedia.org/wiki/F5,_Inc.)? I just found this repo in a [blog from official `nginx.com`](https://www.nginx.com/blog/binary-packages-for-preview-nginx-quic-http3-implementation/):
> 
> > The binaries are the latest deliverable from the quic branch of the separate [nginx-quic](https://github.com/nginx-quic/nginx-quic) repo
> 
> Anyway I've sent an email to `nginx@nginx.com` and also opened a [ticket on trac](https://trac.nginx.org/nginx/ticket/2468).

Hi, @n0099,

Thank you for bringing this to my attention.

I understand that nginx has provided a link to this GitHub repository in their articles, but I'd like to clarify that the official repository link for nginx is <https://hg.nginx.org/nginx-quic/shortlog/quic>, which is not a Git repository, but an hg repository.

The reason why nginx may have provided a link to this GitHub repository instead might be because it is easier to read and use than the official repository. However, I want to emphasize that I am not an employee of nginx or affiliated with the company in any way.

I created this mirror because I noticed that there was no official git mirror available from nginx. If nginx is interested in maintaining an official git mirror of the nginx-quic repository, I would be happy to transfer ownership of the repository to them. Please let me know if there is a specific process or contact person at nginx that I should reach out to in order to begin the transfer process.

Thank you for your understanding, and I apologize for any inconvenience this may cause.

> Please let me know if there is a specific process or contact person at nginx that I should reach out to in order to begin the transfer process.

I recommend that you reach out to the official forum or email list for the necessary assistance.

> opened a [ticket on trac](https://trac.nginx.org/nginx/ticket/2468).

[comment:1](https://trac.nginx.org/nginx/ticket/2468#comment:1) by Maxim Dounin, [2 hours ago](https://trac.nginx.org/nginx/timeline?from=2023-03-12T00%3A56%3A23Z&precision=second)
> Avoid using $http_host, it returns the value of the Host header, and not the :authority pseudo-header (or the authority component from the request line in HTTP/1.x). Use $host instead, it represents the host value nginx is actually using from the request.
> Duplicate of [#2281](https://trac.nginx.org/nginx/ticket/2281).